<form method="post" action="{{ path('app_objectif_note_delete', {'id': objectifNote.id}) }}" style="display:inline;">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ objectifNote.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
